.list-item {
  width: 100%;
  border-bottom: 1px solid #333;
  padding-bottom: 20px;
}

.poster {
  width: 200px;
  display: inline-block;
}

.poster img {
  width: 100%;
  height: auto;
}

.details {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
}
